:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  padding: 0.3em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: transparent;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.header {
  background-color: rgb(132, 223, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 800px;
}

.header-head {
  position: relative;
  left: 8.5%;
  margin-top: 40px;

}

.header-text {
  display: inline-block;
  max-width: 400px; 
  line-height: 1.5; 
  font-size: 14px; 
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 15%
}

.header-extra-container {
  display: flex;
  align-items: center;
  position: relative; 
  left: -40px; 
}

.header-extra{
  margin-right: 5px; 
}

.arrow-down {
  height: 16px;
}

.loan-picture-holder{
  position:relative;
  display: flex;
}

.loan-picture {
  height: 250px;
  margin-top: -200px;
  margin-left: -30px;
}

.middle-container{
  background-color:rgb(248, 244, 244);
  padding: 20px;
  margin: 80px 0px;
  width: 760px;
  min-height: 300px;
}

.middle-head{
  font-size: 25px;
  display: inline-block;
  max-width: 450px; 
  line-height: 1.5; 
  text-align: center;
  margin-bottom: -20px;
}

.table {
  margin-left: 90px;
}

.table td {
  padding-right: 20px;
}

.table-head{
  text-align: left;
  font-size: 14px;
}

.input-toode {
  height: 30px;
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
}

.input-hind {
  height: 30px;
  width: 120px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
}

.add-button{
  position: absolute;
  left: 425px;
}

.delete-button{
  position: absolute;
  left: 700px;
  display: flex;
}

.add-button-picture{
  width: 15px;
  height: 15px;
}

.delete-button-picture{
  width: 15px;
  height: 15px;
}

.total {
  position:relative;
  left: 230px;
  bottom: -70px;
  font-size: 30px;
  margin-top: -40px;
}

.loan-button {
  position:relative;
  left: 230px;
  bottom: -80px;
  font-size: 14px;
  background-color: rgb(81, 70, 70);
  color: white;
  border-radius: 5px;
  height: 40px;
}

.conditions-button{
  position: relative;
  left: 230px;
  font-size: 14px;
  bottom: -90px;
  border-bottom: 1px solid gray;
}
.footer {
  margin: 120px 0;
  display: flex;
  width: 800px;
}

.service-picture{
  width: 70px;
}

.phone-picture {
  width: 20px;
  margin-left: 50px;
}

.phone {
  margin-left: 20px;
}

.email-picture {
  width: 20px;
  margin-left: 50px;
}

.email {
  margin-left: 20px;
}

.service-name{
  display: inline-block;
  line-height: 1.5; 
  font-size: 18px; 
  position: relative;
  right: 18%;
  text-align: left;
}

.service-text{
  display: inline-block;
  max-width: 300px; 
  line-height: 1.5; 
  font-size: 14px; 
  text-align: left;
  position: relative;
  left: 10%
}

@media screen and (max-width: 700px) {
  
  .loan-picture {
    height: 700px;
    margin-top: 1px;
  }

  .header {
    position: absolute; 
    top: 485px; 
    margin-left: -30px;
    max-width: 700px;
    z-index: 2; 
  }

  .header-head {
    font-size: 40px;
    text-align: left;
  }

  .header-text{
    display: none;
  }

  .header-extra {
    display: none;
  }

  .arrow-down {
    height: 100px;
    margin-top: -80px;
    margin-left: 650px
  }

  .middle-container{
    max-width: 660px;
    margin-left: -30px;
    margin-top: 30px ;
    min-height: 700px;
  }

  .middle-head {
    font-size: 40px;
    margin-top: 20px;
  }

  .table {
    padding-top: 150px;
    font-size: 30px;
    padding-left: 80px;
  }

  .table-head {
    font-size: 25px;
  }

  .input-toode{
    font-size: 30px;
  }

  .input-hind{
    font-size: 30px;
  }

  .add-button {
  font-size: 30px;
   display: flex;
   position:static;
   margin-left: 150px;

  }

  .add-button-picture{
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .delete-button {
    font-size: 30px;
    display: flex;
   position:static;
   margin-left: 380px;
   margin-top: -50px;
  }

  .delete-button-picture{
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .total {
    align-items: center;
    font-size: 50px;
    margin-left: -400px;
    padding-bottom: 10px;
    min-width: 400px;
  }

  .loan-button{
    font-size: 25px;
    height: 70px;
    width: 500px;
    margin-left: -440px;
  }

  .conditions-button{
    font-size: 28px;
    margin-left: -440px;
  }

  .footer {
    display: block;
  }
  .service-picture {
    width: 200px;
    margin-left: -120px;
    margin-top: -50px;
  }
  .service-name {
    font-size: 50px;
    display: flex;
    margin-left: 300px;
    margin-top: 20px;
  }

  .service-text {
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    margin-left: 50px; 
    margin-right: 200px; 
    position: static; 
    width: 1700px;
  }

  .phone-picture {
    width: 50px;
    margin-top: 30px;
    margin-left: -400px;
  }

  .phone {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 250px;
    margin-top: -50px;
    position: relative;
    min-width: 200px;
  }

  .email-picture{
    width: 50px;
    margin-top: 40px;
    margin-left: -220px;
  }

  .email{
    font-size: 30px;
    margin-left: 30px;
    position: relative;
    top: -14px;
  }
 }